.discover-top-text {
  margin-top: 68px; }

.w100 {
  width: 100%; }

.making_of_bg {
  margin-top: -66px;
  padding-bottom: 87px; }

.tab-links-three {
  list-style: none;
  padding-left: 0;
  margin-bottom: 25px;
  padding-top: 74px; }

.tab-links-three li.active {
  width: 34.2%; }

.tab-ul-three .container {
  padding: 0; }

.tab-links-three li {
  display: inline-block;
  text-align: center;
  font-family: 'Quattrocento Sans', serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 13px;
  width: 32%; }

.tab-links-three li.active:after {
  content: '';
  display: block;
  font-size: 24px;
  background: url(//loveindus.com/cdn/shop/files/About-the-brand-purple-line.png?v=10982607378684888402);
  background-repeat: no-repeat;
  height: 2px;
  margin-top: 5px;
  background-size: cover;
  width: 100%;
  margin-left: 0; }

.making_of_bg .tab-links-three li.active:after,
.the_philosophy .tab-links-three li.active:after {
  width: 101.4%; }

.tab-links-three li:after {
  content: '';
  display: block;
  font-size: 24px;
  background: url(//loveindus.com/cdn/shop/files/About-the-brand-gray-line.png?v=9519244539850243332);
  background-repeat: no-repeat;
  height: 2px;
  margin-top: 5px;
  background-size: cover;
  width: 106%;
  margin-left: 0; }

.the_philosophy .tab-links-three li:after,
.making_of_bg .tab-links-three li:after {
  margin-left: -5px; }

.tab-links-three li:last-child a {
  padding-left: 30px; }

.first-touch-text h1 {
  text-align: center;
  color: #000F9F;
  font-size: 33px;
  padding: 0 132px;
  letter-spacing: -.3px;
  line-height: 37px;
  margin-bottom: 0;
  font-weight: 600; }

.pronounce-text {
  text-align: center;
  font-size: 20px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: 0;
  margin-left: -3px; }

.pronounce-span {
  font-weight: 700;
  letter-spacing: 0.4px; }

.sign-off-letter-inner1 {
  padding-top: 38px; }

.sign-off-letter-inner1 h2 {
  font-size: 33px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -.1px;
  line-height: 38px;
  padding-right: 50px;
  margin-bottom: 28px; }

.sign-off-letter-inner1 p {
  color: white; }

.sign-off-letter-inner1,
.sign-off-letter-inner2 {
  padding-left: 40px;
  z-index: 9;
  position: relative; }

.sign-off-letter-bg {
  position: absolute;
  top: 0;
  margin-left: 0; }

.sign-off-letter-bg img {
  width: 1170px; }

.sign-off-line {
  position: absolute;
  top: 44.8%; }

.sign-off-line img {
  width: 83%;
  height: 2px; }

.sign-off-letter-indus {
  position: absolute;
  top: 3px;
  z-index: 9; }

.sign-off-letter-indus img {
  width: 1167px; }

.sign-off-letter-inner1 p {
  color: #fff;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .4px;
  line-height: 23px; }

.sign-off-letter-inner2 {
  padding-top: 72px;
  padding-right: 0; }

.sign-off-letter-inner2 p {
  color: #fff;
  font-size: 18px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .4px;
  line-height: 23px;
  padding-right: 50px; }

.sign-off-letter-inner2-text1 {
  margin-bottom: 23px; }

.sign-off-letter-bottom-bg {
  position: absolute;
  top: 19px;
  right: 0;
  margin-right: 0; }

.sign-off-letter-bottom-bg img {
  width: 948.7px;
  height: 394px; }

.loveheart-text-inner {
  margin-left: -9px;
  padding-right: 40px; }

.loveheart-text {
  padding-top: 58px; }

.loveheart-text-inner p {
  font-size: 18px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .3px;
  line-height: 24px;
  margin-bottom: 21px; }

.loveheart-text-inner-space {
  margin-bottom: 21px; }

.loveheart-text-inner-space p {
  margin-bottom: 0; }

.loveheart-indus-logo {
  float: right;
  margin-top: -23px;
  z-index: 9;
  position: relative;
  margin-right: -16px; }

.loveheart-indus-logo img {
  width: 223px; }

.loveheart-aswe {
  margin-top: 78px; }

.loveheart-aswe-inner {
  margin-left: 0; }

.loveheart-aswe-inner h2 {
  color: #000F9F;
  font-size: 33px;
  padding-right: 20px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: -0.2px; }

.loveheart-aswe-indus-logo {
  position: absolute;
  top: 0;
  position: absolute;
  top: -148%;
  left: 0; }

.loveheart-aswe-indus-logo img {
  width: 514px;
  margin-left: 0; }

.surface-bg-left {
  position: absolute;
  top: .3%;
  left: 0; }

.surface-bg-left img {
  width: 179px;
  opacity: 0; }

.surface-bg-right img {
  width: 178px;
  z-index: 99;
  position: relative;
  opacity: 0; }

.surface-bg-right {
  position: absolute;
  right: 0;
  top: 2%; }

.surface-text {
  padding-top: 33px; }

.surface-text-inner p {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  margin-bottom: 21px; }

.surface-text-inner {
  padding-left: 40px;
  padding-right: 103px; }

.triangle-text {
  padding-top: 45px;
  margin-top: 16.3px; }

.triangle-text-inner {
  padding-left: 0;
  padding-right: 190px; }

.triangle-text-inner p {
  font-size: 18px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  line-height: 23px;
  margin-bottom: 23px;
  padding-right: 10px; }

.triangle-text-inner1 {
  padding-left: 0;
  padding-right: 240px; }

.triangle-text-inner1 p {
  font-size: 18px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  line-height: 23px;
  margin-bottom: 23px; }

.hidden {
  display: none; }

.three-triangle-img {
  position: absolute;
  top: -66.3%;
  right: 0; }

.three-triangle-img img {
  width: 1235px; }

.three-triangle-inner {
  width: 36%;
  font-size: 18px;
  font-family: 'Quattrocento Sans', serif;
  margin-left: auto;
  margin-right: 20%;
  font-weight: 600;
  line-height: 23px;
  color: #fff;
  z-index: 9;
  position: relative;
  padding: 0 58px 0 30px;
  letter-spacing: 0.1px; }

.three-triangle-text {
  padding-top: 148px; }

.three-triangle-text p {
  margin-bottom: 26px; }

.bimming-color {
  margin-top: 156px; }

.bimming-color-inner1 {
  padding-right: 214px; }

.bimming-color-inner1 h2 {
  color: #000F9F;
  font-size: 33px;
  padding-right: 20px;
  line-height: 37px;
  font-weight: 600;
  text-align: right;
  letter-spacing: -0.3px; }

.bimming-color-inner2 {
  margin-left: -222px;
  margin-top: 3px;
  padding-right: 93%; }

.bimming-color-inner2 p {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  margin-bottom: 21px; }

.indigo-text-inner p {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  margin-bottom: 24px; }

.indigo-text {
  margin-top: 224px; }

.indigo-text-inner {
  padding-left: 27px;
  padding-right: 40px; }

.color-time-inner2 h2 {
  color: #000F9F;
  font-size: 33px;
  padding-right: 20px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: -.1px;
  margin-bottom: 29px; }

.color-time-inner1 h2 {
  color: #000F9F;
  font-size: 33px;
  padding-right: 20px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: -0.3px; }

.color-time-inner2 p {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  margin-bottom: 24px; }

.color-time-img-top {
  position: absolute;
  top: -7px; }

.color-time-img-top img,
.color-time-img-bottom img {
  width: 95%; }

.color-time-img-bottom {
  position: absolute;
  bottom: -19px; }

.color-time {
  margin-top: 18px; }

.color-time-inner-container {
  padding-top: 45px; }

.color-time-inner1 {
  padding-left: 41px; }

.color-time-inner2 {
  margin-top: 3px;
  margin-left: 25px;
  padding-right: 106px; }

.indigo-text-img {
  position: absolute;
  top: 29.6%;
  right: 0;
  z-index: 99999; }

.indigo-text-img img {
  width: 289px;
  z-index: 999999;
  position: relative; }

.through-text {
  margin-top: 57px; }

.through-text-inner h2 {
  color: #000F9F;
  font-size: 33px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: -0.2px; }

.through-text-inner p {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  margin-bottom: 24px;
  margin-top: 19px; }

.through-text-inner {
  padding-left: 26px; }

.diamond-inner-text {
  margin-left: -10px;
  margin-top: 4px;
  padding-right: 93px; }

.diamond-inner-text p {
  font-size: 18px;
  line-height: 23px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: .1px;
  margin-bottom: 93px; }

.diamond-inner-text h2 {
  color: #000F9F;
  font-size: 33px;
  padding-right: 20px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 32px; }

.diamond-img {
  position: absolute;
  left: 0;
  top: -26px; }

.diamond-text {
  margin-top: 3px; }

.diamond-img img {
  width: 509px; }

.diamond-inner-text-web {
  display: block; }

.diamond-inner-text-ipad {
  display: none; }

.mobile-page-links {
  display: none; }

.triangle-border-top {
  position: absolute;
  top: -12px; }

.triangle-border-top img {
  width: 85.6%;
  height: 4px; }

.triangle-border-top span {
  width: 1231px;
  height: 2px;
  display: block;
  background: #000f9f;
  margin-top: 12px; }

.surface-bg-left img.in-view5 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  opacity: 1; }

.triangle-border-bottom span {
  width: 633px;
  height: 2px;
  display: block;
  background: #000f9f;
  margin-top: -16px; }

.indigo-text-img img {
  opacity: 0; }

.color-time-img-top span.in-view7,
.color-time-img-bottom span.in-view8 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  opacity: 1; }

.surface-bg-right img.in-view6,
.indigo-black-img.in-view17 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  opacity: 1; }

.animated {
  visibility: hidden;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s; }

.the_velvet-slider .owl-item.animated {
  visibility: visible; }

.color-time-img-top span {
  width: 949px;
  height: 9px;
  display: block;
  background: #000f9f;
  margin-top: 10px; }

.color-time-img-bottom span {
  width: 949px;
  height: 9px;
  display: block;
  background: #464e52;
  margin-top: -18px; }

.triangle-text-inner h2 {
  color: #000F9F;
  font-size: 33px;
  padding-right: 20px;
  line-height: 37px;
  font-weight: 600;
  letter-spacing: -.2px;
  margin-bottom: 13px; }

.triangle-border-bottom {
  position: absolute;
  bottom: -13%; }

.the_band_bg .tab-links {
  padding-top: 50px; }

.ph-p {
  font-size: 18px;
  font-family: 'Quattrocento Sans', serif;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 21px; }

.ph-discover {
  margin-top: -10px; }

.ph-discover-inner p {
  text-align: right;
  margin-right: 36px;
  font-weight: 600;
  padding-left: 30px;
  letter-spacing: 0.3px; }

.ph-p-ipad {
  display: none; }

.ph-discover-inner-right {
  margin-left: -25px;
  padding-right: 140px;
  margin-top: 3px; }

.ph-h2 {
  color: #000F9F;
  font-size: 33px;
  letter-spacing: -.1px;
  line-height: 37px;
  margin-bottom: 0;
  font-weight: 600; }

.the_philosophy {
  margin-top: -64px;
  padding-bottom: 1px; }

.the_philosophy .tab-links-three {
  padding-left: 47px; }

.the_philosophy .tab-links-three li.active {
  width: 34.6%; }

.the_philosophy .tab-links-three li:last-child a {
  padding-left: 18px; }

.the_philosophy-slider-bg {
  position: absolute;
  top: 0; }

.the_philosophy-slider {
  margin-top: 7px; }

.link-circle {
  position: absolute;
  left: -2px;
  top: 87px;
  z-index: 9; }

p.slider-number {
  margin-bottom: 0;
  text-align: right;
  padding-right: 92px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Quattrocento Sans', serif;
  line-height: 30px; }

.slider-line-top {
  margin-top: -4px;
  position: relative;
  z-index: 9; }

.link-circle img {
  width: 403px; }


@media (max-width: 1350px) {
  .discover-top-text {
    margin-top: 46px; }

  .making_of_bg {
    margin-top: -37px;
    padding-bottom: 58px;
    background: url(//loveindus.com/cdn/shop/files/about-bg1.png?v=9060733803459536316);
    background-size: auto;
    background-repeat: repeat;
    background-position: inherit; }

  .tab-links-three {
    padding-left: 0;
    margin-bottom: 14px;
    padding-top: 44px;
    margin-left: 0;
    margin-right: 0; }

  .the_philosophy .tab-links-three {
    padding-left: 0; }

  .tab-links-three li.active:after,
  .tab-links-three li:after {
    margin-top: 1px; }

  .the_collection .tab-links-three li.active:after {
    width: 100.8%; }

  .tab-links-three li.active {
    width: 33.3%; }

  .tab-links-three li {
    font-size: 15px;
    line-height: 26px; }

  .tab-links-three li:last-child a {
    padding-left: 8px; }

  .first-touch-text h1 {
    font-size: 22px;
    line-height: 25px;
    padding: 0 40px;
    letter-spacing: -0.1px; }

  .pronounce-text {
    font-size: 16px;
    margin-left: 3px;
    margin-top: 10px; }

  .pronounce-text i {
    margin-left: -4px;
    letter-spacing: .3px;
    padding-right: 2px; }

  .pronounce-span {
    letter-spacing: 0.5px; }

  .sign-off-letter-inner1 h2 {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -.1px;
    padding-right: 105px;
    margin-bottom: 19px; }

  .sign-off-letter-inner1 {
    padding-top: 34px;
    padding-left: 20px; }

  .sign-off-letter-inner1 p,
  .sign-off-letter-inner2 p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0; }

  .sign-off-letter-inner2 {
    padding-left: 19px;
    padding-top: 50px; }

  .sign-off-letter-inner2 p {
    padding-right: 49px; }

  .sign-off-letter-inner2-text1 {
    margin-bottom: 19px; }

  .loveheart-text {
    padding-top: 37px; }

  .loveheart-text-inner {
    margin-left: -129px;
    padding-right: 0;
    margin-top: 0; }

  .loveheart-text-inner p,
  .surface-text-inner p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0; }

  .loveheart-text-inner p {
    margin-bottom: 19px; }

  .loveheart-text-inner-space {
    margin-bottom: 18px; }

  .loveheart-indus-logo {
    margin-top: -15px;
    margin-right: 79px; }

  .loveheart-indus-logo img {
    width: 251px; }

  .loveheart-aswe-indus-logo img {
    width: 347px;
    margin-left: 0; }

  .first-touch-text {
    margin-top: 26px; }

  .loveheart-aswe-indus-logo {
    top: -23.4%; }

  .loveheart-text-inner-space p {
    margin-bottom: 0; }

  .loveheart-aswe {
    margin-top: 13px; }

  .loveheart-aswe-inner h2 {
    font-size: 22px;
    line-height: 25px;
    padding: 48px 8px 39px 59px;
    letter-spacing: -0.1px; }

  .surface-text {
    margin-top: -25px;
    padding-top: 0; }

  .surface-bg-left,
  .surface-bg-right {
    top: 9px; }

  .surface-text-inner p {
    margin-bottom: 18px; }

  .surface-text-inner {
    padding-left: 19px;
    padding-right: 15px; }

  .triangle-text {
    padding-top: 36px;
    z-index: 9; }

  .triangle-text-inner p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    margin-bottom: 18px;
    padding-right: 100px; }

  .triangle-text-inner {
    padding-left: 8px;
    padding-right: 50px;
    margin-top: -20px; }

  .triangle-text-inner1 {
    padding-left: 8px;
    padding-right: 125px;
    z-index: 9;
    position: relative; }

  .triangle-text-inner1 p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0; }

  .three-triangle-text p {
    margin-bottom: 18px;
    line-height: 18px; }

  .three-triangle-inner {
    width: 46%;
    font-size: 17px;
    margin-right: 7%;
    line-height: 18px;
    padding: 0;
    letter-spacing: 0; }

  .three-triangle-text {
    padding-top: 55px; }

  .bimming-color {
    margin-top: 125px; }

  .bimming-color .col-md-5 {
    padding-left: 0; }

  .bimming-color-inner1 {
    padding-right: 36px; }

  .bimming-color-inner1 h2 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.1px; }

  .bimming-color-inner2 p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0; }

  .bimming-color-inner2 {
    margin-left: -35px;
    margin-top: 2px;
    padding-right: 70px; }

  .indigo-text-inner p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    margin-bottom: 18px; }

  .indigo-text-inner {
    padding-left: 79px;
    padding-right: 0; }

  .indigo-text {
    margin-top: 146px; }

  .indigo-text-img {
    top: 59px;
    display: block; }

  .indigo-text-img img {
    width: 158px; }

  .color-time {
    margin-top: 4px; }

  .color-time-img img {
    width: 347px; }

  .color-time-inner-container {
    padding-top: 20px; }

  .color-time-inner1 h2 {
    letter-spacing: -.1px;
    font-size: 22px;
    line-height: 26px; }

  .color-time-inner1 {
    padding-left: 18px; }

  .color-time-inner-container {
    padding-top: 23px; }

  .color-time-inner2 p {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0; }

  .color-time-inner2 {
    margin-top: 8px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 79px; }

  .color-time-inner2 h2 {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 25px;
    padding-right: 0; }

  .through-text-inner h2 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0;
    padding-right: 100px; }

  .sign-off-line {
    top: 43.8%; }

  .sign-off-line img {
    width: 78%; }

  .through-text-inner {
    padding-left: 79px;
    padding-right: 79px;
    margin-top: 17px; }

  .through-text-inner .col-md-7 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .through-text-inner .col-md-9 {
    -ms-flex: 0 0 83%;
    flex: 0 0 83%;
    max-width: 83%; }

  .through-text-inner p {
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0;
    margin-bottom: 6px;
    margin-top: 14px; }

  .through-text {
    margin-top: 0; }

  .diamond-inner-container .col-md-6 {
    padding-right: 0; }

  .diamond-inner-container .col-md-5 {
    -ms-flex: 0 0 45.666667%;
    flex: 0 0 45.666667%;
    max-width: 45.66667%; }

  .diamond-inner-text {
    margin-left: 60px;
    margin-top: 0;
    padding-right: 2px; }

  .diamond-inner-text p {
    letter-spacing: 0;
    margin-bottom: 18px;
    line-height: 18px;
    font-size: 17px; }

  .diamond-inner-text-web {
    display: none; }

  .diamond-inner-text-ipad {
    display: block; }

  .diamond-text {
    margin-top: 20px; }

  .diamond-inner-text h2 {
    font-size: 22px;
    margin-top: 62px;
    line-height: 35px;
    letter-spacing: -0.1px; }

  .diamond-img {
    top: 0; }

  .diamond-img img {
    width: 348px; }

  .triangle-border-top {
    position: absolute;
    top: -24px; }

  .triangle-border-top span {
    width: 630px; }

  .triangle-border-top img {
    width: 86.5%;
    height: auto; }

  .triangle-border-bottom span {
    width: 353px; }

  .color-time-img-top span {
    width: 534px;
    height: 7px;
    margin-top: 10px; }

  .color-time-img-bottom span {
    width: 534px;
    height: 7px;
    margin-top: -18px; }

  .triangle-text-inner h2 {
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 0;
    padding-right: 0; }

  .triangle-border-bottom {
    position: absolute;
    bottom: -10%; }

  .triangle-border-bottom img {
    width: 330px;
    height: 2px; }

  .surface-bg-left img {
    width: 46px; }

  .surface-bg-right img {
    width: 65px; }

  .three-triangle-img {
    position: absolute;
    top: -33.5%;
    margin-right: -16px; }

  .color-time-img-top img,
  .color-time-img-bottom img {
    width: 74%;
    height: 7px; }

  .color-time-img-top {
    top: -11px; }

  .color-time-img-bottom {
    bottom: -7px; }

  .sign-off-letter-bg {
    top: 6px;
    margin-left: 0; }

  .sign-off-letter-bg img {
    width: 657px; }

  .sign-off-letter-indus {
    position: absolute;
    top: 49px;
    z-index: 9; }

  .sign-off-letter-indus img {
    width: 657px; }

  .sign-off-letter-bottom-bg img {
    width: 627px;
    height: 340px; }

  .sign-off-letter-bottom-bg {
    position: absolute;
    right: 0;
    top: 8px; }

  .three-triangle-img {
    position: absolute;
    top: -92.4%;
    margin-right: 0; }

  .the_band_bg .tab-links {
    padding-top: 0; }

  .dropdown-menu.show {
    left: 53.5% !important;
    transform: translateX(-49%) !important;
    margin-top: 0; } }
@media (max-width: 767px) {
  .ml10 {
    font-size: 32px; }

  .discover-top-text {
    margin-top: 31px; }

  .making_of_bg {
    margin-top: -18px;
    padding-bottom: 8px;
    background: url(//loveindus.com/cdn/shop/files/about-bg1.png?v=9060733803459536316); }

  .ipad-page-links {
    display: none; }

  .mobile-page-links {
    display: block; }

  .tab-links-three {
    padding-top: 29px;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0; }

  .tab-links-three li a {
    padding-left: 0; }

  .making_of_bg .tab-links-three li.active:after,
  .the_philosophy .tab-links-three li.active:after {
    width: 109.5%;
    margin-left: -15px; }

  .the_collection .tab-links-three li:after {
    width: 109.5%;
    margin-left: -15px; }

  .tab-links-three li:first-child:after {
    margin-left: -15px; }

  .tab-links-three li.active {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .4px;
    text-align: center; }

  .triangle-border-bottom {
    display: none; }

  .tab-links-three #collapselinks li.active a:after {
    content: ""; }

  .tab-links-three li.active a.collapsed:after {
    padding-left: 6px;
    content: '';
    background: url("https://cdn.shopify.com/s/files/1/0456/7610/1786/files/plus.png?v=1613543686");
    background-position: center;
    background-size: contain;
    width: 10.7px;
    height: 10.7px;
    display: inline-block;
    vertical-align: initial;
    margin-left: 8px;
    background-repeat: no-repeat; }

  .tab-links-three li.active a:after {
    padding-left: 6px;
    content: '';
    background: url("https://cdn.shopify.com/s/files/1/0456/7610/1786/files/minus.png?v=1613543686");
    background-position: center;
    background-size: contain;
    width: 10.7px;
    height: 10.7px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    background-repeat: no-repeat; }

  .tab-links-three li {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding-bottom: 3px;
    letter-spacing: .3px;
    text-align: left; }

  .tab-links-three .collapseinnerlinks-ul li a {
    padding-left: 20px !important; }

  .tab-links-three li:last-child a {
    padding-left: 0; }

  .tab-links-three li:after {
    width: 100%;
    margin-left: 0; }

  .sign-off-letter-indus {
    display: none; }

  .sign-off-letter-bg {
    top: -3px;
    margin-left: -15px; }

  .sign-off-letter-bottom-bg img {
    width: 297px;
    height: 328px;
    margin: 0 auto;
    display: block; }

  .sign-off-letter-bottom-bg {
    position: absolute;
    right: 0;
    top: 14px;
    left: 0;
    margin-right: 0; }

  .first-touch-text {
    margin-top: 15px; }

  .first-touch-text h1 {
    font-size: 16px;
    line-height: 19px;
    padding: 0 12px; }

  .pronounce-text {
    font-size: 13px;
    margin-top: 12px; }

  .sign-off-letter-inner1 {
    padding-top: 41px;
    padding-left: 10px; }

  .sign-off-letter-inner1 h2 {
    font-size: 15px;
    line-height: 18px;
    padding-right: 0;
    margin-bottom: 18px;
    letter-spacing: 0.4px; }

  .sign-off-letter-inner1 p,
  .sign-off-letter-inner2 p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.4px; }

  .sign-off-letter-inner2 p {
    padding-right: 18px;
    line-height: 15px; }

  .sign-off-line {
    top: 39.8%; }

  .sign-off-line img {
    width: 100%; }

  .sign-off-letter-inner2 {
    padding-left: 10px;
    padding-top: 43px; }

  .sign-off-letter-inner2-text1 {
    margin-bottom: 16px; }

  .triangle-border-top img {
    height: 3px;
    width: 100%; }

  .triangle-border-top span {
    width: 345px; }

  .color-time-img-top span {
    width: 171px;
    height: 5px;
    margin-top: 10px; }

  .color-time-img-bottom span {
    width: 171px;
    height: 5px;
    margin-top: -18px; }

  .triangle-border-bottom span {
    width: 0; }

  .surface-bg-left img,
  .surface-bg-right img {
    width: 30px; }

  .loveheart-text {
    padding-top: 37px; }

  .loveheart-text-inner p {
    margin-bottom: 15px;
    padding-right: 29px;
    letter-spacing: 0.3px; }

  .loveheart-text-inner-space p {
    padding-right: 19px; }

  .loveheart-text-inner-space {
    margin-bottom: 15px; }

  .loveheart-indus-logo {
    margin-top: -11px;
    margin-right: 26px; }

  .loveheart-indus-logo img {
    width: 159px; }

  .loveheart-aswe {
    margin-top: 42px; }

  .loveheart-aswe-indus-logo img {
    width: 299px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

  .loveheart-aswe-indus-logo {
    top: -7.2%;
    width: 100%; }

  .loveheart-aswe-inner {
    margin-left: 0;
    margin-top: 173px; }

  .loveheart-aswe-inner h2 {
    font-size: 15px;
    line-height: 19px;
    padding: 39px 10px 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.4px; }

  .surface-text-inner p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .4px;
    margin-bottom: 15px; }

  .surface-text {
    margin-top: -22px;
    margin-bottom: 25px; }

  .surface-text-inner {
    padding-left: 26px;
    padding-right: 26px;
    text-align: center; }

  .loveheart-text-inner {
    margin-left: 28px; }

  .loveheart-text-inner-space p {
    margin-bottom: 0; }

  .loveheart-text-inner p {
    font-size: 13px;
    line-height: 15px; }

  .surface-bg-left,
  .surface-bg-right {
    top: 25px; }

  .triangle-text {
    padding-top: 21px; }

  .triangle-text-inner {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }

  .triangle-text-inner h2 {
    font-size: 16px;
    margin-bottom: 8px; }

  .triangle-text-inner p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .4px;
    margin-bottom: 15px;
    padding: 0 21px; }

  .triangle-text-inner1 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    z-index: 9;
    position: relative; }

  .triangle-text-inner1 p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.4px; }

  .three-triangle-text {
    padding-top: 96px; }

  .three-triangle-inner {
    width: auto;
    font-size: 13px;
    margin-right: 0;
    line-height: 15px;
    text-align: center;
    padding: 0 38px; }

  .three-triangle-text p {
    margin-bottom: 15px;
    line-height: 15px;
    letter-spacing: 0.4px; }

  .bimming-color {
    margin-top: 300px; }

  .bimming-color-inner1 h2 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
    padding-left: 14px; }

  .bimming-color-inner1 {
    padding-right: 0;
    padding-left: 5px; }

  .bimming-color .col-md-5 {
    padding-left: 0; }

  .bimming-color .col-md-7 {
    padding-right: 0; }

  .bimming-color-inner2 {
    margin-left: 0;
    margin-top: -45px;
    padding-right: 15px; }

  .bimming-color-inner2 p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.4px; }

  .indigo-text-inner {
    padding-left: 3px;
    padding-right: 0; }

  .indigo-text {
    margin-top: 285px;
    margin-bottom: 18px; }

  .indigo-text-inner p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .4px;
    margin-bottom: 15px; }

  .color-time-inner-container .col-6 {
    padding-right: 0; }

  .color-time-inner2 {
    margin-top: 6px;
    margin-left: 4px;
    padding-right: 181px;
    padding-left: 0; }

  .color-time-inner2 h2 {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    padding-right: 0; }

  .color-time-inner-container {
    padding-top: 17px; }

  .color-time-inner2 p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.4px; }

  .color-time-inner-container .col-md-5 {
    display: contents; }

  .color-time-inner1 {
    padding-left: 15px;
    margin-top: 26px; }

  .color-time-inner1 h2 {
    letter-spacing: .4px;
    font-size: 16px;
    line-height: 19px;
    width: 45%; }

  .color-time-img img {
    width: 160px; }

  .color-time-img {
    top: 135px; }

  .indigo-text-img {
    top: 86%; }

  .diamond-img {
    top: 18px;
    position: relative;
    padding-top: 106px; }

  .color-time-img-top img,
  .color-time-img-bottom img {
    width: 173px;
    height: 6px; }

  .color-time-img-top {
    top: -18px; }

  .color-time-img-bottom {
    bottom: -6px; }

  .three-triangle-img {
    top: -30%;
    margin-right: 0; }

  .triangle-border-top {
    top: -17.4%; }

  .through-text-inner h2 {
    font-size: 15px;
    line-height: 19px;
    padding-right: 172px;
    letter-spacing: .4px;
    margin-top: -405px; }

  .through-text-inner {
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 0;
    margin-top: 11px; }

  .diamond-inner-text p {
    letter-spacing: .3px;
    margin-bottom: 19px;
    font-size: 13px;
    line-height: 15px; }

  .through-text-inner .col-md-9,
  .diamond-inner-container .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .through-text-inner p {
    letter-spacing: .3px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 15px;
    margin-top: 29px; }

  .diamond-inner-text {
    margin-left: 0;
    margin-top: 0;
    padding-left: 3px;
    padding-right: 10px; }

  .diamond-inner-container .col-md-6 {
    padding-right: 15px; }

  .diamond-text {
    margin-top: 0; }

  .diamond-inner-text h2 {
    font-size: 15px;
    margin-top: -8px;
    line-height: 35px;
    padding-right: 0;
    letter-spacing: 0.4px; } }